---
const { card } = Astro.props;
---

<div
  class="card group relative rounded-none overflow-hidden z-20"
  style={`
    ${card.colStart ? `grid-column: ${card.colStart};` : ""}
    ${card.rowStart ? `grid-row: ${card.rowStart}/span ${card.rowSpan};` : `grid-row: span ${card.rowSpan};`}
  `}
>
  <a
    href={`#${card.id}`}
    class="absolute inset-0 block z-10"
    onclick="handleClick(event)"
  >
    <div class="h-full w-full">
      <img
        src={card.image}
        alt={card.title}
        class="w-full h-full object-cover lazyload"
        loading="lazy"
      />

      <h1 class="font-home text-4xl font-bold">{card.title}</h1>
    </div>
  </a>
</div>
